#needdone
  .holder
    .left
      %h4 Need Something Done?
    / /LEFT
    .right
      %form#search{:action => "", :method => "get", :name => "input"}
        %input.field{:name => "Type What You Need Done Here", :onblur => "if(this.value=='')this.value='Type What You Need Done Here'", :onfocus => "if(this.value=='Type What You Need Done Here')this.value=''", :type => "text", :value => "Type What You Need Done Here"}/
        %button{:type => "submit"} Plant
    / /RIGHT
/ /NEEDDONE
#container
  #main
    .rightside
      .boxheadin
        %h3 Recent Projects
      .recentprojects
        %a.job{:href => "#"} Help Me Build A Resume
        %p
          %b By:
          %a#stay-target-1.stay-tooltip-target.tooltip-target{:href => "#"} Username
        #stay-content-1.stay-tooltip-username.tooltip-username
          %a{:href => "#"} Sample Name
          %p New York City, New York
          %ul
            %li.up 215
            %li.down 0
        / /Stay Content 1
        %p.status
          %em Status:
          %i.completed Completed
        %a.job{:href => "#"} Help Me Build A Resume
        %p
          %b By:
          %a#stay-target-2.stay-tooltip-target.tooltip-target{:href => "#"} Username
        #stay-content-2.stay-tooltip-username.tooltip-username
          %a{:href => "#"} Sample Name
          %p New York City, New York
          %ul
            %li.up 215
            %li.down 0
        / /Stay Content 2
        %p.status
          %em Status:
          %i.inprogress In Progress
        %a.job{:href => "#"} Help Me Build A Resume
        %p
          %b By:
          %a#stay-target-3.stay-tooltip-target.tooltip-target{:href => "#"} Username
        #stay-content-3.stay-tooltip-username.tooltip-username
          %a{:href => "#"} Sample Name
          %p New York City, New York
          %ul
            %li.up 215
            %li.down 0
        / /Stay Content 3
        %p.status
          %em Status:
          %i.canceled Canceled
        %a.job{:href => "#"} Help Me Build A Resume
        %p
          %b By:
          %a#stay-target-4.stay-tooltip-target.tooltip-target{:href => "#"} Username
        #stay-content-4.stay-tooltip-username.tooltip-username
          %a{:href => "#"} Sample Name
          %p New York City, New York
          %ul
            %li.up 215
            %li.down 0
        / /Stay Content 4
        %p.status
          %em Status:
          %i.completed Completed
      / /BOX
    / /RIGHTSIDE
    .content
      .head
        .left
          %h5 Inbox
        / /LEFT
        .right
          %ul.big
            %li
              %a.active{:href => "#"} All
            %li
              %a{:href => "#"} Read
            %li
              %a{:href => "#"} Archived
        / /RIGHT
      / /HEAD
      #inboxhead
        %b.left Recipient
        %b.right Updated
        .clear
      #inbox
        - unless @messages.nil? || @messages.empty?
          %ul
            - @messages.each do |message|
              %li
                %a{:href => "#", :title => "Text"}
                  Username
                  %em Aug. 20th, 2011
                  %span Message Message
        - else
          %h2
            %strong You currently have no messages
      / INBOX
      / PAGINATION
      /
        <div id="paginationholder">
        <div class="pagination">
        <ol class="wp-paginate">
        <li><span class="title"></span></li>
        <li><a href="#" class="prev">&amp;#8249;&amp;#8249;</a></li>
        <li><span class='currentpage'>1</span></li>
        <li><a href='#' title='2' class='page'>2</a></li>
        <li><a href='#' title='3' class='page'>3</a></li>
        <li><a href='#' title='4' class='page'>4</a></li>
        <li><a href="#" class="next">&amp;#8250;&amp;#8250;</a></li>
        </ol>
        </div>
        </div>
      / /PAGINATION
    / /CONTENT
  / /MAIN
#botlinks
  .left
    %ul
      %li
        %a{:href => "#"} Contact Us
      %li
        %a{:href => "#"} Terms Of Service
      %li
        %a{:href => "#"} How To
      %li
        %a{:href => "#"} FAQ
      %li
        %a{:href => "#"} Blog
  / /LEFT
  .right
    %h4 Sprowty
    %b All Rights Reserved, 2010
/ /BOTLINKS