<div id="subhead"></div>


<div id="container"> 


<div id="main">

<div class="rightside">
<div class="boxheadin"><h3>Recent Projects</h3></div>

<div class="recentprojects">

<a class="job" href="#">Help Me Build A Resume</a>
<p><b>By:</b><a href="#" id="stay-target-1" class="stay-tooltip-target tooltip-target">Username</a></p>

<div id="stay-content-1" class="stay-tooltip-username tooltip-username">
<a href="#">Sample Name</a>
<p>New York City, New York</p>
<ul>
<li class="up">215</li>
<li class="down">0</li>
</ul>
</div> <!--/Stay Content 1-->

<p class="status"><em>Status:</em><i class="completed">Completed</i></p>


<a class="job" href="#">Help Me Build A Resume</a>
<p><b>By:</b><a href="#" id="stay-target-2" class="stay-tooltip-target tooltip-target">Username</a></p>

<div id="stay-content-2" class="stay-tooltip-username tooltip-username">
<a href="#">Sample Name</a>
<p>New York City, New York</p>
<ul>
<li class="up">215</li>
<li class="down">0</li>
</ul>
</div> <!--/Stay Content 2-->

<p class="status"><em>Status:</em><i class="inprogress">In Progress</i></p>

<a class="job" href="#">Help Me Build A Resume</a>
<p><b>By:</b><a href="#" id="stay-target-3" class="stay-tooltip-target tooltip-target">Username</a></p>

<div id="stay-content-3" class="stay-tooltip-username tooltip-username">
<a href="#">Sample Name</a>
<p>New York City, New York</p>
<ul>
<li class="up">215</li>
<li class="down">0</li>
</ul>
</div> <!--/Stay Content 3-->

<p class="status"><em>Status:</em><i class="canceled">Canceled</i></p>


<a class="job" href="#">Help Me Build A Resume</a>
<p><b>By:</b><a href="#" id="stay-target-4" class="stay-tooltip-target tooltip-target">Username</a></p>

<div id="stay-content-4" class="stay-tooltip-username tooltip-username">
<a href="#">Sample Name</a>
<p>New York City, New York</p>
<ul>
<li class="up">215</li>
<li class="down">0</li>
</ul>
</div> <!--/Stay Content 4-->

<p class="status"><em>Status:</em><i class="completed">Completed</i></p>


</div> <!--/BOX-->
</div> <!--/RIGHTSIDE-->



<div class="content">

<div class="convohead">

<div class="left">
<h5>Conversation With ScissorSister</h5>
</div> <!--/LEFT-->

<div class="right">
<ul class="big">
<li><a href="#">Archive This Message</a></li>
</ul>
</div> <!--/RIGHT-->
</div> <!--/HEAD-->




<div id="inbox">


<div class="message">
  <div class="left">
    <img src="images/dummy_convo1.jpg" />
  </div>
  
  <div class="right">
    <a href="#"><strong><%= current_user.email %></strong></a>
    <p></p>
  </div>
</div> <!--Message-->

<div class="message">
  <div class="right">
    <h2>Leave A Comment:</h2>
    <textarea></textarea>
    <a href="#" class="attach">Attach Files To This Comment</a>
    <input type="submit" value="Post" class="submit"></input>
  </div>
</div> <!--Message-->


</div> <!--INBOX-->

</div> <!--/CONTENT-->
</div> <!--/MAIN-->

<div class="clear"></div>

</div> <!--/CONTAINER-->


<div id="botlinks">

<div class="left">

<ul>
  <li><a href="#">Sample</a></li>
  <li><a href="#">Sample</a></li>
  <li><a href="#">Sample</a></li>
  <li><a href="#">Sample</a></li>
  <li><a href="#">Sample</a></li>
  <li><a href="#">Sample</a></li>
</ul>

<p>Etiam at urna sagittis nulla pulvinar dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis mi vitae ligula tristique vel tempor magna lacinia. Cras laoreet, velit in ornare placerat, mi ipsum consectetur augue, vel egestas nibh mauris quis est. </p>

</div> <!--/LEFT-->