#subhead
#container
  #main
    .rightside
      .boxheadin
        %h3 Recent Projects
      .recentprojects
        %a.job{:href => "#"} Help Me Build A Resume
        %p
          %b By:
          %a#stay-target-1.stay-tooltip-target.tooltip-target{:href => "#"} Username
        #stay-content-1.stay-tooltip-username.tooltip-username
          %a{:href => "#"} Sample Name
          %p New York City, New York
          %ul
            %li.up 215
            %li.down 0
        / /Stay Content 1
        %p.status
          %em Status:
          %i.completed Completed
        %a.job{:href => "#"} Help Me Build A Resume
        %p
          %b By:
          %a#stay-target-2.stay-tooltip-target.tooltip-target{:href => "#"} Username
        #stay-content-2.stay-tooltip-username.tooltip-username
          %a{:href => "#"} Sample Name
          %p New York City, New York
          %ul
            %li.up 215
            %li.down 0
        / /Stay Content 2
        %p.status
          %em Status:
          %i.inprogress In Progress
        %a.job{:href => "#"} Help Me Build A Resume
        %p
          %b By:
          %a#stay-target-3.stay-tooltip-target.tooltip-target{:href => "#"} Username
        #stay-content-3.stay-tooltip-username.tooltip-username
          %a{:href => "#"} Sample Name
          %p New York City, New York
          %ul
            %li.up 215
            %li.down 0
        / /Stay Content 3
        %p.status
          %em Status:
          %i.canceled Canceled
        %a.job{:href => "#"} Help Me Build A Resume
        %p
          %b By:
          %a#stay-target-4.stay-tooltip-target.tooltip-target{:href => "#"} Username
        #stay-content-4.stay-tooltip-username.tooltip-username
          %a{:href => "#"} Sample Name
          %p New York City, New York
          %ul
            %li.up 215
            %li.down 0
        / /Stay Content 4
        %p.status
          %em Status:
          %i.completed Completed
      / /BOX
    / /RIGHTSIDE
    .content
      .convohead
        .left
          %h5 Conversation With ScissorSister
        / /LEFT
        .right
          %ul.big
            %li
              %a{:href => "#"} Archive This Message
        / /RIGHT
      / /HEAD
      #inbox
        .message
          .left
            %img{:src => "images/dummy_convo1.jpg"}/
          .right
            %a{:href => "#"}
              %strong= current_user.email
            %p
        / Message
        .message
          .right
            %h2 Leave A Comment:
            %textarea
            %a.attach{:href => "#"} Attach Files To This Comment
            %input.submit{:type => "submit", :value => "Post"}/
        / Message
      / INBOX
    / /CONTENT
  / /MAIN
  .clear
/ /CONTAINER
#botlinks
  .left
    %ul
      %li
        %a{:href => "#"} Contact Us
      %li
        %a{:href => "#"} Terms Of Service
      %li
        %a{:href => "#"} How To
      %li
        %a{:href => "#"} FAQ
      %li
        %a{:href => "#"} Blog
  / /LEFT
  .right
    %h4 Sprowty
    %b All Rights Reserved, 2010
/ /BOTLINKS
