#subhead
#container
  #main{:style => "padding: 975px 26px 26px;"}
    .content{:style => "margin-top: -990px;"}
      .head
        .left
          %h5 My Resume
        / /LEFT
        .right
        / /RIGHT
      / /HEAD
      = render :partial => 'form'
