#subhead
#needdone
  .holder
    .left
      %h4 Forgot Your Password?
#container
  #main
    #signupcontainer
      .left
        = semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f|
          = devise_error_messages!
          %br/
          %p
            = f.text_field :email, :class => "field clearField", :placeholder => 'enter email'
          = f.submit "Send me reset password instructions", :id => 'forgot_password', :style => 'float: left; margin-left: 80px;'
