<div id="subhead"></div>

<div id="needdone">
  <div class="holder">

    <div class="left">
      <h4>Sign up</h4>
    </div> <!--/LEFT-->
  </div>
</div>

<div id="container">
  <div id="main">
    <p><%= devise_error_messages! %></p>
    <%= render :partial => 'shared/sign_up' %>
  </div>
</div>
