<div class="boxhead"><h3>Categories</h3></div>
<div class="box">
  <ul class="categories">
    <li><a href="#">Sample Link</a></li>
    <li><a href="#">Sample Link</a></li>
    <li><a href="#">Sample Link</a></li>
    <li><a href="#">Sample Link</a></li>

  </ul>
</div> <!--/BOX-->
