.boxhead
  %h3 Categories
.box
  %ul.categories
    %li
      %a{:href => "#"} Sample Link
    %li
      %a{:href => "#"} Sample Link
    %li
      %a{:href => "#"} Sample Link
    %li
      %a{:href => "#"} Sample Link
/ /BOX
