<img src="images/icon_rooster.png" class="rooster" />
<div class="twitbox">
  <div id="twitter">
    <ul id="twitter_update_list"><li></li></ul>

  </div>
  <span class="quote"></span>
</div> <!--/TWITBOX-->
<div class="follow"><h2><a href="http://twitter.com/#!/sprowty" target="_blank">@sprowty</a></h2></div>

