%img.rooster{:src => "images/icon_rooster.png"}/
.twitbox
  #twitter
    %ul#twitter_update_list
      %li
  %span.quote
/ /TWITBOX
.follow
  %h2
    %a{:href => "http://twitter.com/#!/sprowty", :target => "_blank"} @sprowty
