#container
  #main
    %h2 Contact Us

    <form method="POST">


    <label _name">User Name*</label><input  id="first_name" maxlength="40" name="first_name" size="10" type="text" /><br>

    <label for="email">Email*</label><input  id="email" maxlength="80" name="email" size="10" type="text" /><br>

    <label for="company">Project ID</label><input  id="company" maxlength="40" name="company" size="10" type="text" /><br>

    Comments:<br><textarea  id="00NE0000000ecRr" name="00NE0000000ecRr" rows="10" type="text" wrap="soft"></textarea><br>

    <input type="submit" name="submit">

    </form>