- content_for :keywords, @tags
= render :partial => 'plant'
#container
  #main
    .rightside
      .boxheadin
        %h3 Report a Problem
      .box
        = image_tag 'icon_report.png', :style => 'float: left;margin-right:10px;'
        = link_to 'Report a problem', new_project_problem_url(@project.id)
    .leftside
      .content
        .head
          .left
            %h5 Projects
          .right
        #inbox
          %ul
            = render :partial => 'messages', :locals => {:project => @project}
        #paginationholder
          .pagination
            %ol.wp-paginate
              %li
                %span.title
              %li
                %a.prev{:href => "#"} ‹‹
              %li
                %span.currentpage 1
              %li
                %a.page{:href => "#", :title => "2"} 2
              %li
                %a.page{:href => "#", :title => "3"} 3
              %li
                %a.page{:href => "#", :title => "4"} 4
              %li
                %a.next{:href => "#"} ››
  .clear
