= stylesheet_link_tag "payments"

:css
  form {
  }

%div{:style => 'height: 400px;'}
  = form_for @payment do |f|
    = #hidden_field :payment, :project_id, :value => params[:project]
    #submitpayment
      .head
        %h1
          Buy Coins
        .left
          %p= error_messages_for @payment
        .clear
      .payment
        %h2
          Select amount of coin to buy
        %ul
          %li
            %a.active.accept_current_price{:href => "#"} Accept Current
    .clear
    %form{:action => @action_url, :method => "post"}
      %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
      %input{:name => "encrypted", :type => "hidden", :value => @encrypted_basic}/
      %input{:alt => "1 credits", :name => "submit", :src => "/images/btn_buynow_SM.jpg", :type => "image"}/
