%p
  Hey #{@resource.profile.first_name},
%br/
%p
  Looks like you forgot your password. Don’t worry, it happens to all of us.
%p
  To reset your password, simply click the link below. If the link is not clickable you will need to copy and paste the link into your browser's address bar.

%p= link_to edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%br/
Best,

The Sprowty Team
