<div id="subhead"></div>
<div id="container">
  <div id="main">
    <div class="content">
      <div class="head">
        <div class="left">
          <h5>My Resume</h5>
        </div> <!--/LEFT-->

        <div class="right">
        </div> <!--/RIGHT-->
      </div> <!--/HEAD-->
      <%= render :partial => 'form' %>
</div>
