#subhead
#container
  #main
    = render :partial => 'profiles/right_side', :locals => {:profile => current_user.profile}
    .content
      .head
        .left
          %h5 My Resume
        / /LEFT
        .right
        / /RIGHT
      / /HEAD
      = render :partial => 'form'
    .clear
