#botlinks
  .left
    %ul
      %li
        %a{:href => contact_path} Contact Us
      %li
        %a{:href => terms_path} Terms Of Service
      %li
        %a{:href => how_to_path} How To
      %li
        %a{:href => faq_path} FAQ
      %li
        %a{:href => "http://blog.sprowty.com", :target =>'_blank'} Blog
  / /LEFT
  .right
    %h4 Sprowty
    %b All Rights Reserved, 2011
/ /BOTLINKS
.clear