#botlinks
  .left
    %ul
      %li
        %a{:href => contact_path} Contact Us
      %li
        %a{:href => terms_path} Terms Of Service
      %li
        = link_to 'How To', 'http://www.youtube.com/v/hYVGKdop63Y?fs=1&amp;width=640&amp;height=480&amp;hl=en_US1&amp;iframe=true&amp;rel=0', :class => 'colorbox-load'
      %li
        %a{:href => faq_path} FAQ
      %li
        %a{:href => "http://blog.sprowty.com", :target =>'_blank'} Blog
  / /LEFT
  .right
    %h4 Sprowty
    %b All Rights Reserved, 2011
/ /BOTLINKS
.clear
